.block {
    @apply p-10 bg-white bg-opacity-10 rounded-2xl text-xl flex flex-col gap-6 w-1/3;
}

.titleBox {
     @apply flex flex-row gap-6;
}

.icon {
    @apply h-10 w-10;
}

.title {
    @apply text-2xl font-medium;
}

.description {
    @apply text-gray-400;
}