.header {
    @apply flex flex-row items-center justify-between w-full text-white mx-20 py-6 z-10;
}

.headerBox {
    @apply items-center justify-center hidden sm:flex ;
}

.logo {
    @apply w-8 h-8;
}

.logoFooter {
    @apply w-16 h-16;
}

.logoTitle {
    @apply text-2xl font-medium uppercase mt-2;
    font-family: Floripa
}

.logoBox {
    @apply flex flex-row align-middle gap-2.5 items-center;
}

.pageTitleBox {
    @apply flex flex-row items-center gap-20 text-xl;
}

.footerBox {
    @apply mt-20 py-14 px-20;
    background-color: #0c182c;
}

.box {
    @apply container mx-auto flex flex-row;
}

.logoBoxFooter{
    @apply flex flex-col gap-4 w-1/3;
}

.linkBox {
    @apply flex flex-row w-2/3 justify-between pr-10;
}

.linkBox div {
    @apply flex flex-col gap-4;
}

.linkBox div h4{
    @apply text-lg text-gray-400 uppercase;
}

.link {
    @apply underline;
}

.children {
    @apply container mx-auto px-20 min-h-96;
}

