.previewImg {
    @apply object-cover object-center absolute block h-screen w-screen brightness-50 blur-sm;
}

.preview {
    @apply flex flex-col h-screen relative pt-40;
}

.title {
    @apply text-5xl text-center uppercase flex z-10;
    font-family: Floripa;
}

.description {
    @apply text-3xl flex mt-14 z-10 w-1/2 mb-10;
}

.btn {
    @apply py-3 px-8 w-fit rounded-md text-xl flex items-center align-middle justify-center text-white hover:brightness-125 border;
    background: #112e3e;
}

.diagramImg {
    @apply w-96 object-cover rounded-2xl;
}

.blocksTitle {
    @apply text-xl sm:text-4xl uppercase flex z-10 font-bold justify-around pb-16;
}

.blockBox {
    @apply flex flex-row gap-4 pb-4;
}

