.title {
    @apply text-5xl font-bold mt-8 mb-8 z-10;
}

.desc {
    @apply text-2xl w-1/2 z-10;
}

.infoBox {
    @apply flex gap-4 mt-3;
}

.infoTitle {
    @apply text-gray-400;
}

.infoDesc {
    @apply font-semibold;
}
