.rectangle {
    @apply w-2 h-8 rounded-lg;
}

.title {
    @apply text-lg font-semibold uppercase pb-5;
}

.card {
    @apply my-5;
}

.graphBox {
    @apply flex flex-col justify-center;
}

.graphs {
    @apply flex flex-row w-5/6 justify-between;
}

.graphDescription {
    @apply flex flex-row justify-between align-middle items-center w-5/6 text-gray-400 mt-2;
}

.strip {
    @apply w-1/3 h-0.5;
    background-color: rgb(156 163 175);
}

.tooltip {
    @apply p-2
}